body{
    background-color: rgb(4, 46, 49);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: rgb(21, 168, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-shadow: 0 0 1rem black;
}

button{
    display: inline;
    background-color: rgb(21, 168, 161);
    color: rgb(4, 46, 49);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 1rem black;
    min-width: 200px;
    height: 70px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 10px;
}

button:hover{
    box-shadow: 0 0 1rem rgb(118, 168, 166);
}

button#reset {
    background-color: rgb(21, 168, 161);
    min-width: 100px;
    height: 35px;
    font-size: 20px;
}

button#reset:hover{
    box-shadow: 0 0 1rem rgb(235, 84, 74);
}